<div class="container-fluid">
    <form [formGroup]="userForm">
        <div class="row col-12 mb-3">
            <div class="input-group">
                <span class="input-group-text">First Name / Last Name</span>
                <input type="text" aria-label="First name" placeholder="First Name" class="form-control">
                <input type="text" aria-label="Last name" placeholder="Last Name" class="form-control">
            </div>
        </div>
        <div class="row col-12 mb-3">
            <div class="input-group">
                <span class="input-group-text">User Name</span>
                <input type="text" aria-label="User Name" placeholder="User Name" class="form-control">
            </div>
        </div>
        <div class="row col-12 mb-3">
            <div class="input-group">
                <span class="input-group-text">City / Zip</span>
                <input type="text" aria-label="City" placeholder="City" class="form-control">
                <input type="text" aria-label="Zip" placeholder="Zip" class="form-control">
            </div>
        </div>

        <div class="row col-12 mb-3 mt-4">
            <div class="input-group">
                <button class="btn btn-dark" type="submit"> submit form </button>
            </div>
        </div>
    </form>
</div>
